@import "fonts/montserrat.css";
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rajdhani", 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('./assets/bg.png');/**/
}

@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe'), url('./fonts/Louis George Cafe.ttf') format('truetype');
}

@font-face {
  font-family: 'Rounded_Elegance';
  src: local('Rounded_Elegance'), url('./fonts/Rounded_Elegance.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
  perspective: 500px;
}

:root {
  --main-panel-color: rgba(12, 15, 18, 0.85);
  --sub-panel-color: rgba(0, 0, 0, 0.83);
  --white-dull: rgba(10, 5, 5, 0.25);
  --white-full: rgba(250, 250, 250, 1);
  --white-half: rgba(250, 250, 250, 0.5);
  --color-gray: rgba(191, 191, 191, 1.0);
  --color-moneys: #a7d32e;
  --dev-purple: rgba(200, 0, 255, 1);
  --color-bomb: #f22222;
  --color-defuse: #2222f2;
  --color-t-profiles: #F60639;
  --color-t-icons: #590414;

  /* CSS Variables for panels */
  --color-main-panel: #1D2333;

  /* CSS Variables for player layout */
  --color-utility-background: #394353;
  --color-utility-active: #00A3C9;

  /* CSS Variables for main team collors */
  --color-player-dead: #5E6166;
  --color-t: #C91D3D;
  --color-t-gradient: #6B0B1D;
  --color-ct: #00A3C9;
  --color-ct-gradient: #005C8C;

  /* CSS Variables for Texts */
  --text-color-primary: #F0F8FF;
  --text-color-money: #00FF87;
}



